# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
venv/
env/
.env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Playwright
**/test-results/
**/playwright-report/
**/playwright/.cache/
reports/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
